body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #FFFEF1, #D9EEDB);
    color: #333;
}

/* 로고 및 네비게이션 바 */

/* 메인 섹션 */
.main-section {
    position: relative; /* 컨테이너 내 요소 위치 지정 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1000px;
}

/* 정보 수정 버튼 */
.edit-info-button {
    position: absolute;
    top: 3px;  /* 상단에 위치 */
    right: 20px; /* 오른쪽에 위치 */
    background-color: #00AE68;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* 프로필 이미지 컨테이너 */
.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.user-nickname, .user-comment {
    font-size: 18px;
    color: #333;
    text-align: center;
}

.main-section h1 {
    font-size: 36px;
    color: #333;
}

.main-section p {
    color: #555;
    font-size: 20px;
}

.main-section button {
    background-color: #00AE68;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 서비스 개요 섹션 */
.service-overview {
    padding: 80px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-overview img {
    max-width: 400px;
    border-radius: 10px;
    margin: 0 20px;
}

.service-overview h4 {
    color: #555;
    font-size: 24px;
}

.service-overview p {
    font-size: 18px;
    color: #333;
}

.service-overview h2 {
    font-size: 17px;
    color: #555;
    font-weight: normal;
}

.service-overview button {
    background-color: #00AE68;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 기능 섹션 */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 30px;
}

.features div {
    background-color: #ffffff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.features div img {
    width: 150px;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    background-color: #96cca8;
    color: #fff;
    font-size: 18px;
}
